/*MAIN StyleSheet*/
/* style pour mobile  mobile first aproach */
*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(250,245,208);
    background-repeat: no-repeat;
}

img[alt="logo"]{
    margin: auto;
    max-width:100%;
}

.button {
    max-width: 100%;
    border-radius: 5%;
    background-color:rgb(165,120,59);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 5px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
.button_submit{
    max-width: 100%;
    border-radius: 5%;
    background-color:rgb(165,120,59);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px 5px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {opacity: 1}
.button_submit:hover {opacity: 1}
header nav ul li a{
    width:100%;
}

[class*="col-"] {
    width:100%;
    padding: 0 0;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
html{
    color: rgb(165,120,59);
}
/*commande*/
label,input{
    display:block
}
.form{
    padding-left: 25%;
}


/*menu site map*/
.menu-footer nav ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;

}


.menu-footer nav ul li{
    border-top:1px solid white;
    display:block;
    height:50px;
    line-height:50px;
    color: rgb(101,75,47);
}

.menu-footer nav ul li a{
    color: rgb(101,75,47);
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
}

.menu-footer nav ul li a:hover{
    background-color:rosybrown;
}

/* MAIN */
main{
    padding:1%;
}
/*Bouton anglais français*/
.lang {
    float: right;
    width: 70px;
    border-radius: 10%;
    background-color:rgb(165,120,59);
    border: 5px;
    color: white;
    padding: 16px 16px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.lang:hover {opacity: 1}

/* FOOTER*/




header nav ul li a{
    width:100%;
}

[class*="col-"] {
    width:100%;
    padding: 0 0;
}

/*menu site map*/
.menu-footer nav ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;

}

.menu-footer nav ul li{
    border-top:1px solid white;
    display:block;
    height:50px;
    line-height:50px;
}

.menu-footer nav ul li a{
    color: rgb(101,75,47);
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
}

.menu-footer nav ul li a:hover{
    background-color:rgb(165,120,59);
}
#social-menu ul {
    list-style:none;

}


/* FOOTER*/
footer{

    padding:10px;
    text-transform:uppercase;
    text-align:center;
    vertical-align:bottom;

}


/* end mobile */

/* style pour tablette */
@media only screen and (min-width:640px){



    [class*="col-"] {
        float: left;
        padding: 0 15px;
    }
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}




    main h1{text-align:center;}

    form{padding:2%;}
    nav ul li{
        border-top:0px;

    }
    header{
        text-align:center;
    }
    #header ul{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:space-evenly;

    }

    header img[alt="logo"]{
        width: 200px;

    }
    main img{
        border-radius: 5%;
    }

    .button{
        margin: 5px 100px;
    }

    #contact a:hover,#service a:hover,#home a:hover{
        background-color:transparent;

    }
    #form{
        clear: both;
    }
    #information,.datalist{
        padding:0;
        margin:0;
    }
    #social-menu ul{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:space-around;
    }

}

/* end tablette */


/* style pour desktop */
@media only screen and (min-width:960px){


    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    #contact a:hover,#service a:hover,#home a:hover{
        background-color:transparent;

    }

    header nav ul li a:hover{
        background-color:rgb(101,75,47);
    }

    .menu-mobile{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:space-around;
    }

    #social-menu ul{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        justify-content:space-around;
    }

    .company-info{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start;
        font-size: smaller;
    }
    .appointment{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
    }

    .datalist{display:-webkit-box;display:-ms-flexbox;display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
    }
    footer{
        width:100%;
    }

    #information{
        padding-top: 20%;
        padding-bottom: 20%;
        margin-top: -1%;
    }
    #information ul li{
        margin:5%;
    }


}
/* end desktops */

input,textarea{
    border:3px solid rgb(101,75,47);
    padding: 7px;
    margin:0px;
    width: 90% ;
}
input:focus{
    box-shadow: 0 0 8px rgb(101,75,47);
    border: 5px solid rgb(101,75,47);
}
textarea:focus{
    box-shadow: 0 0 8px rgb(101,75,47);
    border: 5px solid rgb(101,75,47);
}

